body {
    background-color: cornflowerblue;
    color: white;
}
.heading {
    width: 80%;
    font-size: 22px;
}
#camera {
    border: 2px dashed black;
    width: 45%;
    height: 45%;
}
.objectNames {
    color: tomato;
}